<ion-header>
  <ion-toolbar>
    <ion-title>card</ion-title>

    <ion-buttons slot='start'>

      <ion-back-button defaultHref='/'></ion-back-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]='true'
             [scrollEvents]='true'
             (ionScrollStart)="logScrollStart()"
             (ionScrollEnd)="logScrollEnd()">

  <div id="container" class="ion-text-center">
    <ion-button color='fab' style="font-size: 0.5em" (click)="takePhoto()">Selecteer kaartafbeelding</ion-button>
    <br/>
    <span>
      <img *ngIf="photo"  [src]="getDataUrl()">
    </span>
  </div>

  <ion-item lines='full' class='ion-margin-top'>
    <ion-input placeholder='Benoeming' type='text'
               [(ngModel)]="name"></ion-input>
  </ion-item>

  <ion-item lines='full' class='ion-margin-top'>
    <ion-input placeholder='Kaartcode' type='text'
               [(ngModel)]="cardNumber"></ion-input>
  </ion-item>

  <ion-item class='ion-margin-top'>
    <ion-label>Kaarttype</ion-label>
    <ion-select [(ngModel)]="typeId">
      <ion-select-option *ngFor='let type of types' [value]='type.id'>{{type.name}}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item class='ion-margin-top'>
    <ion-label>Set</ion-label>
    <ion-select [(ngModel)]="setId">
      <ion-select-option *ngFor='let set of sets' [value]='set.id'>{{set.title}}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item lines='full' class='ion-margin-top'>
    <ion-input placeholder='Waarde' type='text'
               [(ngModel)]="value"></ion-input>
  </ion-item>


  <ion-item lines='full' class='ion-margin-top'>
    <ion-input placeholder='Aantal' type='text'
               [(ngModel)]="amount"></ion-input>
  </ion-item>
  <ion-item class='ion-margin-top'>
    <ion-textarea placeholder='Beschrijving' type='text'
                  [(ngModel)]="description"></ion-textarea>
  </ion-item>

  <ion-fab *ngIf='buttonIsVisible' [vertical]='verticalButtonPosition'  vertical='bottom' horizontal='end' slot='fixed'>
    <ion-fab-button [disabled]="(!name || name.length === 0)"
                    color='fab' (click)='createCard()' >
      <ion-icon name='checkmark-circle' ></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
