<ion-header>
  <ion-toolbar>
    <ion-title>sets</ion-title>
    <ion-label slot='end' style="margin-right: 20px">
      <app-network></app-network>
    </ion-label>

    <ion-buttons slot='start'>
      <ion-menu-button menuId='side-menu'></ion-menu-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]='true'
             [scrollEvents]='true'
             (ionScrollStart)="logScrollStart()"
             (ionScrollEnd)="logScrollEnd()"
             (click)="logClicked()">
  <ion-header collapse='condense'>
    <ion-toolbar>
      <ion-title size='large'>Kaartsets</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-fab *ngIf='buttonIsVisible' [vertical]='verticalButtonPosition' horizontal='end' slot='fixed'>

    <ion-fab-button color="fab" [routerLink]="['/sets', 'set']">
      <ion-icon name='add' ></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <app-set-item
    *ngFor='let s of sets | async'
    [set]="s" >
  </app-set-item>

</ion-content>
