<ion-header  [translucent]='true'>
  <ion-toolbar>
    <ion-title *ngIf='id === null'>Nieuwe set</ion-title>
    <ion-title *ngIf='id !== null'>Bewerk set</ion-title>
    <ion-label slot='end' style="margin-right: 20px">
      <app-network></app-network>
    </ion-label>

    <ion-buttons slot='start'>

      <ion-back-button defaultHref='/'></ion-back-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]='true' >

  <ion-item lines='full' class='ion-margin-top'>
    <ion-input placeholder='Benoeming' type='text'
               [(ngModel)]="title"></ion-input>
  </ion-item>


  <ion-item class='ion-margin-top'>
    <ion-input  placeholder='Taal' type='text'
                [(ngModel)]="language"></ion-input>
  </ion-item>

  <ion-item lines='full' class='ion-margin-top'>
    <ion-input  placeholder='Jaar Uitgave' type='text'
                [(ngModel)]="releaseYear"></ion-input>
  </ion-item>

  <ion-fab  vertical='bottom' horizontal='end' slot='fixed'>
    <ion-fab-button [disabled]="(!title || title.length === 0 || !addUpdateButtonIsClickable)"
                    color='fab' (click)='toggleCreateAndUpdate()' >
      <ion-icon name='checkmark-circle' ></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab vertical='bottom' horizontal='start' slot='fixed'>
    <div *ngIf='id !== null'>
      <ion-fab-button color='deletefab'
                      [disabled]="(!deleteButtonIsClickable)"  (click)="deleteSet()">
        <ion-icon name="close-circle-outline"
        ></ion-icon>
      </ion-fab-button>
    </div>
  </ion-fab>

</ion-content>

