<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Homepagina
    </ion-title>
    <ion-buttons slot='start'>
      <ion-menu-button menuId='side-menu'></ion-menu-button>
    </ion-buttons>


  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]='true'
             [scrollEvents]='true'
             (ionScrollStart)="logScrollStart()"
             (ionScrollEnd)="logScrollEnd()">
  <ion-header collapse='condense'>
    <ion-toolbar>
      <ion-title size='large'>Verzamelkaarten</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-fab *ngIf='buttonIsVisible' [vertical]='verticalButtonPosition' horizontal='end' slot='fixed'>

    <ion-fab-button color="fab" [routerLink]="['/home', 'card']">
      <ion-icon name='add' ></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <app-card-item
    *ngFor='let c of cards | async'
    [card]="c" >
  </app-card-item>

</ion-content>
